@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

*{
    padding: 0;
    margin: 0;
}

html{
    width: 100vw;
    height: 100vh;
}

body{
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    width: 0;
    height: 0;
}

/*Header*/

header{
    background-color: #FFD8D3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    padding: 10px;
    color: black;
}

header>ul{
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
}

header> ul> li > a{
    text-decoration: none;
    color: black;
}

#menu{
    cursor: pointer;
    display: none;
}

.MenuLateralDiv{
    display: none;
    position: fixed;
    top: 10px;
    bottom: 10px;
    right: 10px;
    background-color:#E66F75;
    width: 40vw;
    border-radius: 20px;
    padding: 20px;
    z-index: 2;
}

.MenuLateralDiv ul{
    list-style: none;
    height: 91vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
}

.MenuLateralDiv a{
    text-decoration: none;
    color: #FFD8D3;
}

#close{
    display: flex;
    flex-direction: row;
    justify-content: end;
    cursor: pointer;
    color: #FFD8D3;
}

.Tranparencia{
    display: none;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0;
    background-color:#ffd8d3bc;
    z-index: 1;
}

/*Main - corpo do site*/

/*TITULO INICIAL - PRIMEIRA PARTE*/

.TituloInicial{
    background-image: url(./img/BackgroundIncio.png);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 91vh;
    text-align: center;
    position: relative;
}

.TituloInicial_Conteudo{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.TituloInicial h1{
    font-family: "IBM Plex Serif", serif;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 5px;
    font-size: 50px;
}

.TituloInicial_Conteudo_subtitulo{
    font-family: "IBM Plex Serif", serif;
    font-weight: 200;
    font-style: normal;
    margin-bottom: 30px;
}

.TituloInicial_Conteudo_Texto1{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 16px;
    margin-bottom: 20px;
}

.TituloInicial_Conteudo_Texto2{
    font-family: "IBM Plex Serif", serif;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 20px;
    font-size: 25px;
    margin-bottom: 25px;
    color: #E66F75;
}

.TituloInicial_Conteudo_BTNS{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.TituloInicial_Conteudo_BTNS button{
    text-align: center;
    background-color: white;
    border: none;
    padding: 5px 20px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    cursor: pointer;
}

.TituloInicial_Conteudo_BTNS button:hover{
    background-color: #fec2bc;
}

.TituloInicial_Conteudo_BTNS a{
    text-decoration: none;
    color: black;
}

/*APRESENTAÇÃO DE DULCE - SEGUNDA PARTE*/

#Apresentacao{
    width: 90vw;
    max-width: 800px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 10px;
}

.Apresentacao_Texto{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: "Roboto Mono", monospace;
    font-size: 13px;
    text-align: center;
}

.Apresentacao_Texto_one{
    font-size: 18px;
    font-weight: bold;
}

.Apresentacao_Texto_Subtitulo{
    color: grey;
    font-size: 10px;
    margin-bottom: 10px;
}

.Apresentacao_Texto_Filosofia{
    color: #E66F75;
    font-weight: bold;
    font-size: 17px;
    margin-top: 10px;
}

#Apresentacao img{
    width: 270px;
    border-radius: 780px 353px 780px 353px;
}

/*RECEITAS - TERCEIRA PARTE*/

#Receitas{
    background-color: #FFD8D3;
    margin-top: 2em;
}

#Receitas p{
    font-family: "IBM Plex Serif", serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size: 20px;
    padding: 20px 10px 0px 10px;
}

#Receitas strong{
    color: #E66F75;
    font-size: 29px;
    font-weight: bold;
}

#Receitas div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px 20px;
    flex-wrap: wrap;
    gap: 10px;
    width: 90%;
    max-width: 800px;
    margin: auto;
}

#Receitas img{
    width: 150px;
    border-radius: 60px 20px 60px 20px;
    cursor: pointer;
    box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.314);
    border: 1px solid #f3ca61a1;
}

@media (max-width: 600px) {

    /*Header*/

    header>ul{
       display: none;
    }

    #menu{
       display: block;
    }

    /*Main - corpo do site*/

    /*TITULO INICIAL - PRIMEIRA PARTE*/

    .TituloInicial_Conteudo{
        width: 90vw;
    }

    .TituloInicial h1{
        font-size: 40px;
    }
    
    .TituloInicial_Conteudo_subtitulo{
        margin-bottom: 20px;
    }
    
    .TituloInicial_Conteudo_Texto1{
        font-size: 14px;
        margin-bottom: 10px;
    }
    
    .TituloInicial_Conteudo_Texto2{
        margin-bottom: 20px;
        font-size: 20px;
    }
    
    .TituloInicial_Conteudo_BTNS button{
        padding: 5px 10px;
    }

    /*APRESENTAÇÃO DE DULCE - SEGUNDA PARTE*/

    #Apresentacao{
       flex-direction: column;
       margin-top: 30px;
    }

    .Apresentacao_Imagem{
        background-color: #c08c0a69;
        width: 100vw;
        padding: 10px;
        display: flex;
        justify-content: center;
    }

}